/* style.css */
body {
    background-color: #0b0b0b;
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0;
    text-align: center;
}

.hero {
    padding: 100px 20px;
    background: radial-gradient(circle at top, #2d033b 0%, #0b0b0b 70%);
}

.tag {
    background: #ff00e4;
    padding: 5px 15px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

h1 {
    font-size: 3.5rem;
    margin: 30px 0;
    line-height: 1;
}

.destaque {
    color: #00d2ff;
    text-shadow: 0 0 20px rgba(0, 210, 255, 0.6);
}

.btn-principal {
    display: inline-block;
    background: #00ff41;
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 15px #00ff41;
    transition: 0.3s;
}

.btn-principal:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px #00ff41;
}

.avatar-container {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px auto; /* Centraliza */
}

.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #00d2ff;
    object-fit: cover;
    z-index: 2; /* Fica por cima */
    position: relative;
}

/* O anel que pulsa atrás */
.status-ring {
    position: absolute;
    top: -5px; left: -5px; right: -5px; bottom: -5px;
    border-radius: 50%;
    border: 2px solid #00ff41; /* Verde Online */
    animation: pulsar 2s infinite;
    z-index: 1; /* Fica por baixo */
}

@keyframes pulsar {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(1.5); opacity: 0; }
}

.faixa-container {
    background: #ff00e4; /* Rosa Choque */
    color: #000;
    width: 100%;
    overflow: hidden; /* Esconde o que sai da tela */
    padding: 5px 0;
    font-weight: bold;
    text-transform: uppercase;
}

.texto-correndo {
    white-space: nowrap; /* Não quebra linha */
    animation: correrTexto 15s linear infinite;
    font-size: 0.9rem;
}

@keyframes correrTexto {
    0% { transform: translateX(100%); } /* Começa na direita */
    100% { transform: translateX(-100%); } /* Vai pra esquerda */
}

.card {
    background: rgba(255, 255, 255, 0.05); /* Branco bem transparente */
    backdrop-filter: blur(10px); /* Desfoca o fundo da grade que se mexe */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Bordas sutis */
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    border-color: #00d2ff;
    background: rgba(0, 210, 255, 0.05);
}

a, button {
    /* Quando passar o mouse em algo clicável */
    cursor: pointer;
}

/* Largura da barra */
::-webkit-scrollbar {
    width: 10px;
}

/* Fundo da barra */
::-webkit-scrollbar-track {
    background: #0b0b0b;
}

/* O 'puxador' da barra */
::-webkit-scrollbar-thumb {
    background: linear-gradient(#ff00e4, #00d2ff);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00ff41; /* Muda de cor ao passar o mouse */
}